<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487507268204-u31ov45in8p7f8rhs4l6r84cv5ltfvig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487507268204-u31ov45in8p7f8rhs4l6r84cv5ltfvig</string>
	<key>API_KEY</key>
	<string>AIzaSyCJr-VNTInpsfDNLEDi4bS9qnJttLuMiwc</string>
	<key>GCM_SENDER_ID</key>
	<string>487507268204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.app.ReserveWallet</string>
	<key>PROJECT_ID</key>
	<string>reservewallet-f5fde</string>
	<key>STORAGE_BUCKET</key>
	<string>reservewallet-f5fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487507268204:ios:39bce3edebb13d6c4d3e49</string>
</dict>
</plist>